body {
    /* background-color: #3d3e3f !important; */
    background: radial-gradient(#3d3e3f, #1b1c1d) !important;
    font-size: 34px !important;
    width: 1920px !important;
    height: 1080px !important;
}

.found-result {
    display: inline-block;
    color: white;
    min-height: 530px;
    text-align: center;
    width: 100%;
    padding-top: 30px;
}

.found-result p {
    margin-top: 10px;
    transition: all 100ms ease-out
}

.found-result a:focus {
    outline: none !important;
}

.found-result img {
    width: 100%;
    height: 410px;
    background-color: #222;
    transition: all 100ms ease-out;
}

.focus-wrap:focus img {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 10px 10px #222
}

.focus-wrap:focus p {
    margin-top: 40px
}

.focus-wrap {
    margin-top: 120px;
}

.search-results {
    transform: translateY(25%)
}

.found-result .wrapper {
    background-color: #222;
    border-radius: 10px
}

.found-result a {
    color: white !important
}

.results {
        min-height: 750px;
        max-height: 750px;
        overflow: hidden;
}

.episode-list-container {
    background-color: #1b1c1d;
    border-radius: 10px;
    padding: 25px !important;
    max-height: 500px;
    min-height: 540px;
    overflow: hidden;
}

.episode {
    padding: 2px;
    background-color: #3d3e3f;
    color: white;
    border-radius: 5px;
    display: block;
    transition: all 100ms ease-out;
    min-height: 40px
}

.episode-link:focus .episode {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 0px 20px #000;
    background-color: rgb(241, 157, 55);
}

.episode-link:focus {
    outline: none
}

.episode-video {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.paginator-button {
    text-align: center;
    opacity: .5
}

.page-button-padding {
    padding-top: 25%
}

.paginator-right {
    padding-right: 30px !important
}

.paginator-left {
    padding-left: 30px !important
}

.paginator {
    padding-top: 5%
}

.toolbar {
    transition: all 200ms ease-out;
    background-color: #1b1c1d;

}

.toolbar .menu {
        font-size: 30px !important
}

.content {
    padding-top: 30px
}

.search-input input, .search-input .search {
    font-size: 24px !important
}

.paginator .icon.forward, .paginator .icon.backward {
    font-size: 30px
}

.video-link:visited {
    color: transparent
}


.video-link:visited {
    color: transparent;
}


/* visited link */

.video-link:hover {
    color: transparent;
}


/* mouse over link */

.video-link:active {
    color: transparent;
}

.video-overlay {
    position: relative
}
.video-overlay video {
    transition: filter 200ms, 200ms ease-in-out;
}
.video-overlay.paused video{
    filter: blur(30px);
}

.video-overlay.paused .video-overlay-title
{
    visibility: visible;
    opacity: 1;
}

.video-overlay.paused .video-overlay-bg {
     visibility: visible;
     opacity: .9;
     filter: blur(20px);
}   

.video-overlay .video-overlay-title {
   
    position: absolute;
    bottom: 72px;
    left: 0;
    right: 0;
    color: white;
    height: 200px;
    padding: 90px;
    z-index: 9;
    opacity: 0;
    transition: visibility 0s ease-in-out 200ms, opacity 200ms ease-in-out, 200ms;
    visibility: hidden
    
}

.video-overlay .video-overlay-title h2 {
    font-size: 30px !important
}

.video-overlay .video-overlay-bg {
    position: absolute;
    background-color: #1b1c1d;
    height: 200px;
    left: 0;
    right: 0;
    bottom: 72px;
    z-index: 8;
    opacity: .6;
     transition: visibility 0s ease-in-out 200ms,
     opacity 200ms ease-in-out,
     200ms;
     visibility: hidden;
      filter: blur(10px);
}

.video-react-control-bar {
    font-size: 24px !important
}
/* .video-react:focus {
    border: 3px solid red
} */

.toolbar .menu .item {
    transition: all 200ms ease-in-out !important;
    
    
}
.toolbar .menu .item:focus {
    background-color: rgb(241, 157, 55) !important;
    transform: scale(1.05,1.05);
    outline: none
}

.video-overlay-icons {
        z-index: 10;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        display: none
}

.video-overlay.seeking.forward i.forward {
    opacity: .9;
    transform: scale(0,0)
}

.video-overlay-icons i.forward, .video-overlay-icons i.backward {
    transition: all 200ms, ease-in-out;
    opacity: 0;
    transform: scale(1.2, 1.2)
}