body {
    background-color: #3d3e3f !important;
    font-size: 28px !important
}

.found-result {
    display: inline-block;
    color: white;
    max-width: 190px;
    min-height: 330px;
    text-align: center;
}

.found-result p {
    margin-top: 10px;
    transition: all 100ms ease-out
}
.found-result a:focus {
    outline: none !important;
    
}

.found-result img {
    width: 190px;
    height: 230px;
    background-color: #222;
    transition: all 100ms ease-out
}

.focus-wrap:focus img {
   transform: scale(1.1, 1.1);
   box-shadow: 0px 10px 10px #222
}

.focus-wrap:focus p {
    margin-top: 25px
}




.found-result .wrapper {
    background-color: #222
}

.found-result a {
    color: white !important
}

.results {
    padding-top: 10px
}

.episode-list-container {
    background-color: #1b1c1d;
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
}

.episode {
    padding: 2px;
    background-color: #3d3e3f;
    color: white;
    border-radius: 5px;
    display: block;
    transition: all 100ms ease-out;
    min-height: 40px
}

.episode-link:focus .episode {
    transform: scale(1.2,1.2);
    box-shadow: 0px 0px 20px #000;
    background-color: rgb(241, 157, 55);
}


.episode-link:focus  {
    outline: none 
}

.episode-video {
        object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}
